{% extends 'restaurant/home.html'%}
{% block title %}Создание карточки стола{% endblock %}
{% include 'restaurant/includes/inc_menu.html'%}
{% block content %}
<h2>Карточка стола</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'restaurant:table_list' %}" class="btn btn-primary">Отмена</a>
</form>
{% endblock %}
{% include 'restaurant/includes/footer.html'%}
