{% extends 'restaurant/home.html'%}
{% load my_tags %}
{% include 'includes/inc_menu.html'%}
{% block content %}
<div>
    <div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ table.name }} {{ table.price }}</h5>
                <img src="{{ table.image | media_filter }}" class="card-img-top" alt="table.name">
                <p class="card-text">{{ table.description }}</p>
                <a href="{% url 'restaurant:book_table' %}" class="btn btn-primary">Забронировать</a>
                <a href="{% url 'restaurant:table_list' %}" class="btn btn-primary">Назад</a>
            </div>
        </div>
  </div>
</div>
{% endblock %}
{% include 'includes/footer.html'%}