<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                Уютный домик
                <small class="d-block mb-3 text-muted">&copy; 2025</small>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'restaurant:home' %}">Главная</a></li>
                    <li><a class="text-muted" href="{% url 'restaurant:contacts' %}">Контакты</a></li>
                    <li><a class="text-muted" href="{% url 'users:register' %}">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </footer>
